
body {
    margin: 0;
    font-family:  sans-serif;
    background: white;
}

.dashboard-container {
    padding: 50px;
}


h2 {
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
    font-size: 60px;
}

.dashboard-table {
    width: 100%;
    border-collapse: collapse;
    background: blue;
    border-radius: 10px;
    overflow: hidden;
}
.table-card{
    height: auto;
    width:150px;
}
.table-row{
    border-radius: 30PX;
}

.dashboard-table th {
    background:red;
    color: #fff;
    padding: 15px;
    text-align: center;
}


.dashboard-table td {
    vertical-align: top;
    padding: 15px;
    border-right: 1px solid #eee;
}

.dashboard-table td:last-child {
    border-right: none;
}
.leaderboard-table-row {
    
    border-width: 60px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#activities div,
#leaderboard ,
#stats div,
#announcements div {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
}
#leaderboard li {
    display: block;
    padding: 70px;
    border-bottom: 1px solid #eee;

}

button {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    background:red;
    color:black;
    border-radius: 6px;
    cursor: pointer;

}
.table-row {
    
    justify-content: space-between;

}


button:hover {
    background: #e6e9ff;
}
/* Default (desktop) */
.container {
  display: flex;
}

/* For tablets */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

/* For phones */
@media (max-width: 480px) {
  .box {
    font-size: 14px;
  }
}
