
.body {
    display: grid;
    grid-template-columns: 250px 1fr; /* sidebar + content */
    min-height: 100vh;
}   
.sidebar {
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.sidebar-content {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.button {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

.logout-button {
    margin-top: 100px
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}
.signout-button {
    width: 100%;
    padding: 8px;
    background: red;
    color: white;
    border: none;
}



.main-content {
    padding: 20px;
}

.dashboard-summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.stats {
    border: 1px solid #242121;
    padding: 10px;
    border-radius: 6px;
}
@media (max-width: 768px) {
    .body {
        grid-template-columns: 1fr;
    }

    .sidebar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar-content {
        flex-direction: row;
        align-items: center;
        background-color: blue;
    }


    .logout-button {
        margin-top: 0;
    }
}