.body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px  
}

.button {
    display: flex;
    flex-direction: row ;
    background-color: aliceblue;
    align-items: self-start;
    padding: 4px;
    margin-bottom: 12px;
    border-radius: 4px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;

}

.sidebar-header {
    font-size: medium;
    color: aliceblue;
    padding: 4px;
}

.logout-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    margin-bottom: -10rem;
    
}

.signout-button {
    background-color: red;
    color:white;
    padding: 4px;
    border-radius: 4px;
    margin-top: 86px;
}

.dashboard-summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.stats {
    display: flex;
    flex-direction: column;
    border:  1px solid #242121;
    padding: 10px;
    border-radius: 6px;
}