body{
    background-color: white;
    font-family: Arial, sans-serif;
}


/* Title */

h1{
    margin-bottom: 20px;;
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
    color: rgb(49, 47, 47);
}


.signup-container{
    background-color: red;
    padding: 40px;
    border-radius: 20px;
    width: 350px;
}

.form-control{
    text-align: center;
}
.register-submit-button{
    background-color: rgb(115,16,230);
    border: none;
}

p{
   margin-top: 20px;
    color: black;
}

a{
    color: rgb(31, 31, 30);
}