body {
    background-color: #8e8cd8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
h1{text-align: center;}
.login-form {
    margin-top: 20px;
}


h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #6c63ff;
    color: white;
    border: none;
    cursor: pointer;
}

a {
    display: block;
    margin-top: 15px;
}